# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\travail_2020_2021\BTS_SNIR\2_BTS_SNIR\20_PROJET\RESSOURCES\NODE_LORA\ARM-N8-LW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
